<header class="text-bg-dark p-3 text-center bg-gradient">
  <h1 class="display-2">Dirección IP</h1>
</header>
<br/>
<button (click)="obtenerIp()">Obtener ip</button>
<p class="fs-3">{{ipDir.ip}}</p>
<button (click)="obtenerLocalizacion()" *ngIf="optenerLoc">Obtener localización</button>
<br/>
<ul class="list-group">
  <li class="list-group-item">Pais {{loc.country}}</li>
  <li class="list-group-item">Ciudad {{loc.city}}</li>
  <li class="list-group-item">Código Postal {{loc.postal}}</li>
  <li class="list-group-item">Zona horaria{{loc.timezone}}</li>
  <li class="list-group-item">Región {{loc.region}}</li>
  <li class="list-group-item">Datos ISP {{loc.hostname}}</li>
  <li class="list-group-item">Compañia {{loc.org}}</li>
</ul>
